[Unit]
Description=Binance Trading Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/mybot
ExecStart=/root/mybot/venv/bin/python3 /root/mybot/main.py --small-account
Restart=on-failure
RestartSec=30
StandardOutput=append:/root/mybot/logs/bot_service.log
StandardError=append:/root/mybot/logs/bot_service_error.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target